* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100vw;
    height: 100vh;
    background-image: url(/images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-bar {
    max-width: 1600px;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    padding-top: 16px;
    justify-content: space-between;
}

.nav-link-text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #18191f;
    text-decoration: none;
}

.nav-bar-list {
    display:flex;
    gap: 32px;
    align-items: center;

}

.nav-link {
    list-style: none;
}


.nav-bar-list-right {
    display:flex;
    align-items: center;
    gap: 12.87px;
}